.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    width: auto;
}


.navbar-left {
    float: left;
}
    .navbar-left a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
    }

.navbar-right {
    float: right;
}

    .navbar-right a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 5px;
        text-decoration: none;
    }

.navbar li a:hover:not(#userName) {
    background-color: #111;
    border-radius: 10px;
}

.ViewImage {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
    .ViewImage img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: 5px solid #696969;
        border-style: ridge;
    }
 .Validate {
     display: flex;
     justify-content: center;
     align-content: center;
 }
.MainAuth {
     display: flex;
     margin: 10% 0 0 0;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
 }
.Auth {
    padding: 20px;
    align-self: center;
    margin: auto;
    border: 7px solid black;
    border-radius: 30px;
    border-style: double;
    align-self: center;
}

.field-label {
    font-family: cursive;
    text-align: left;
    margin: 5px 0 5px 0;
}

.field-edit input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-color: black;
}

    .field-edit input:focus {
        background: darkgray;
        border: 2px solid black;
        border-radius: 30px;
        outline: none;
    }

.buttonAuth {
    display: block;
    margin: 10px 0 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-family: monospace;
    background-color: white;
    border-style: double;
    border-color: black;
    outline: none;
}
    .buttonAuth:hover {
        background-color: orangered;
    }

footer {
    position: fixed;
    display: inline;
    padding: 0 0 4% 45%;
    left: 0;
    bottom: 0;
    text-align: center;
}

.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}
    .table_dark th {
        color: #EDB749;
        border-bottom: 1px solid #37B5A5;
        padding: 12px 17px;
    }
    .table_dark td {
        color: #CAD4D6;
        border-bottom: 1px solid #37B5A5;
        border-right: 1px solid #37B5A5;
        padding: 7px 17px;
    }
    .table_dark tr:last-child td {
        border-bottom: none;
    }
    .table_dark td:last-child {
        border-right: none;
    }
    .table_dark tr:hover td {
        text-decoration: underline;
    }

.test {
    font-family: Timew New Roman;
    font-style: normal;
    font-size: 120%;
    margin: 10px 0 0 0;
}

.linkOnTest {
    margin: 2% 10% 0 0;
    float: left;
    list-style-type: none;
    border: 10px;
}
    .testOne a{
        display: inline-block;
        color: #000000;
        text-align: left;
        text-decoration: none;
        
    }
        .testOne a:hover {
            background: #778899;
            border-radius: 5px;
            color: #e0ffff;
            background: #000000;
        }
.test {
    padding: 0 0 0 30%;
    float: inherit;
}
.radio-button-test {
    margin: 0 0 0 35%;
    float: inherit;
}
.buttonCompleteFT {
    display: block;
    margin: 10px 0 0 35%;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-family: monospace;
    background-color: white;
    border-style: double;
    border-color: black;
    outline: none;
}
    .buttonCompleteFT:hover {
        background-color: #d2691e;
    }
div.SecondTest {
    text-align: center;
}
    div.test2 {
        padding: 10px 0 0 0;
        font-size: 18px;

    }
    div.Test2_TextBox {
        padding: 10px 0 0 0;
    }

label.SecondTestInfo {
    display: inherit;
    font-size: 18px;
    font-family: monospace;
    padding: 10px;
}